.item{
    display:block;
    border:solid 1px lightgrey;
    padding: 2rem 1rem;
    margin-bottom: .5rem;
    border-radius: 4px;
    box-shadow:
        0 4px 8px 0 rgba(0,0,0,0.1),
        0 6px 20px 0 rgba(0,0,0,0.1);
    transition: box-shadow 0.25s;
    color:#444;
}

.item-container {
    min-width: 25%;
    text-align: center;
    padding: .4rem;
}


.item:hover {
    box-shadow: 
        0 4px 8px 0 rgba(0,0,0,0.5),
        0 6px 20px 0 rgba(0,0,0,0.5);
    color:black;
}


.item-traits{
    margin: .2rem 0;
}