@model string

@{
    ViewData["Title"] = "Home Page";
    Random rnd = new Random();
    string[] names = new[] { "Terry", "Rigo", "Benard", "Jessi" };
    string name = names[rnd.Next(0, names.Length)];
}

<div class="text-center">
    <h1 class="display-4">Welcome @Model!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


@* to select a random string from an array of names each time it loads *@